@model IEnumerable<AddressBook.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h2 id="h1titel" style="display: block; text-align: center" title="Anfragen und Mitteilungen">Contacts</h2>
</div>
<script>
    $(function () {
        $("#searchInput").change(function (evnt) {
            $("#dvContactsList").load("@(Url.Action("GetContactsList","Contact",null,Request.Url.Scheme))?searchInput=" + $(this).val());
        });
    });
</script>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="panel-body">
    <div class="form-group">
        @Html.Label("Search: ", new { @class = "col-sm-1" })
        <div class="col-sm-4">
            <div class="input-group">
                @Html.TextBox("searchInput", null, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-5"></div>
    </div>
</div>
<div id="dvContactsList">
    @{Html.RenderPartial("ContactsList", Model);}
</div>
